{{#partial "contenido" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Entidades Prestadoras</h1>
                    <p class="mb-4">Carga masiva de datos de entidades prestadoras</p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Entidades Prestadoras</h6>
                        </div>
                                                  <div class="card-header py-3 mb-2" style="    border-bottom: none">
                                                        <h3 class="m-0 font-weight-bold text-center pb-4">Formato</h3>
                                                        <table class="table text-center mb-0" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Entidad</th>
                                                                <th>Username</th>
                                                                <th>Correo electronico responsable</th>
                                                                <th>Nombre</th>
                                                                <th>Descripcion</th>
                                                            </tr>
                                                        </thead>
                                                        </table>
                                                    </div>
                        <div class="card-body tabla">
                            <button type="button" class="btn btn-primary mb-3 btnCSv" data-bs-toggle="modal" data-bs-target="#csvModal"><i class="fa fa-upload mr-1"></i>Cargar CSV</button>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Entidad</th>
                                            <th>Descripcion</th>
                                            <th>Correo Electronico</th>
                                            <th>Administrador</th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each entidades}}
                                             <tr>
                                                 <td><a href="/perfil/entidad/{{this.id}}">{{this.nombre}}</a></td>
                                                <td>{{this.entidad.nombre}}</td>
                                                <td>{{this.descripcion}}</td>
                                                <td>{{this.correoElectronicoResponsable}}</td>
                                                <td>{{this.usuario.username}}</td>
                                                <td></td>
                                             </tr>
                                         {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

        <!-- Data Modal-->
    <div class="modal" id="csvModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Cargar CSV</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Cargar archivo .CSV</p>

            <form method="post" action="/admin/cargarCSVEntidades" enctype="multipart/form-data">
                 <div class="mb-3">
                    <input class="form-control" accept=".csv" type="file" id="archivo" name="archivo">
                 </div>

                    <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check mr-1"></i>Cargar</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
{{/partial}}
{{> base }}

