<h1 class="h3 mb-2 text-gray-800">{{comunidad.nombre}}</h1>
<p class="mb-4">Grado de Confianza: {{comunidad.gradoDeConfianza}}</p>

<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Intereses de la Comunidad</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableIntereses" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nombre del Servicio</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            {{#each comunidad.intereses}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Miembros de la Comunidad</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableMiembros" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
            </tr>
            </thead>
            <tbody>
            {{#each comunidad.miembros}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.correoElectronico}}</td>
                <td>{{this.telefono}}</td>
            </tr>
            {{#if esAdmin}}
            <td>
                <form action="/comunidad/{{../comunidad.id}}/expulsar/{{this.id}}" method="post">
                    <button type="submit" class="btn btn-warning">Expulsar</button>
                </form>
            </td>
            <td>
                <form action="/comunidad/{{../comunidad.id}}/ascender/{{this.id}}" method="post">
                    <button type="submit" class="btn btn-success">Ascender a Admin</button>
                </form>
            </td>
            {{/if}}
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

