
<h1 class="h3 mb-2 text-gray-800">Entidades</h1>
<p class="mb-4">Listado de entidades registradas en el sistema.</p>

        {{#if editarEntidades}}
<div class="card shadow mb-4">
<!-- Botón para abrir el modal de carga CSV -->
<button type="button" class="btn btn-primary mb-3 btnCSV" data-bs-toggle="modal" data-bs-target="#csvModal">
    <i class="fa fa-upload mr-1"></i>Cargar CSV
</button>
<!-- Modal para cargar CSV -->
<div class="modal" id="csvModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cargar CSV</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Cargar archivo .CSV</p>
                <form method="post" action="/cargarCSVEntidades" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input class="form-control" accept=".csv" type="file" id="archivo" name="archivo">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Cargar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Entidades</h6>
    </div>
    <div class="card-body tabla">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Email</th>
                    <th>Descripción</th>
                    <th>Establecimientos</th>
                </tr>
                </thead>
                <tbody>
                {{#each entidades}}
                <tr>
                    <td>{{this.id}}</td>

                    <td>
                        <a href="/entidad/{{this.id}}">{{this.nombre}}</a>
                    </td>
                    <td>{{this.tipo.tipo}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>
                        {{#each this.establecimientos}}
                            <a href="/establecimiento/{{this.id}}">{{this.nombre}}</a>{{#unless @last}}, {{/unless}}
                        {{/each}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{#if editarEntidades}}
<h3>Crear Nueva Entidad</h3>

    <form action="/entidades/crearEntidad" method="POST"> <!-- Asegúrate de cambiar la acción a la ruta correcta en tu servidor -->
        <fieldset class="border p-4 mt-4">
            <legend class="w-auto">Datos de la Nueva Entidad</legend>

            <div class="form-group">
                <label for="entidadNombre">Nombre de la Entidad:</label>
                <input type="text" class="form-control" id="entidadNombre" name="entidadNombre" required>
            </div>

            <div class="form-group">
                <label for="entidadEmail">Correo Electrónico de la Entidad:</label>
                <input type="email" class="form-control" id="entidadEmail" name="entidadEmail">
            </div>

            <div class="form-group">
                <label for="entidadDescripcion">Descripción de la Entidad:</label>
                <textarea class="form-control" id="entidadDescripcion" name="entidadDescripcion"></textarea>
            </div>

            <div class="form-group">
                <label for="tipoEntidad">Tipo de Entidad:</label>
                <select class="form-control" id="tipoEntidad" name="tipoEntidadId" required>
                    {{#each tipos}}
                    <option value="{{this.id}}">{{this.tipo}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Crear Entidad</button>
        </fieldset>
    </form>
{{/if}}
