{{#partial "contenido" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">
<h1 class="h3 mb-2 text-gray-800">{{miembro.nombre}} {{miembro.apellido}}</h1>
<p class="mb-4">Correo Electrónico: {{miembro.correoElectronico}}</p>
<p class="mb-4">Teléfono: {{miembro.telefono}}</p>


        <!-- ...contenido existente... -->
        {{#if editarMiembro}}
<div class="card shadow mb-4">

<div class="card-body">
    Actual: {{showMedioPreferido}}
    <form action="/perfil/{{profileId}}/updateNotificationPreferences" method="POST">
        <div>
            <input type="radio" id="preferenciaEmail" name="preferencia" value="email">
            <label for="preferenciaEmail">Correo Electrónico</label>
            <input type="radio" id="preferenciaTelefono" name="preferencia" value="telefono">
            <label for="preferenciaTelefono">Teléfono</label>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Preferencias</button>
    </form>
</div>
</div>
{{/if}}

        <!-- ...contenido existente... -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var preferenciaActual = "{{preferencia}}"; // Asegúrate de que esto reciba la preferencia actual correctamente

    // Encuentra el botón de radio correspondiente y márcalo como seleccionado
    var botonPreferido = document.querySelector(`input[type="radio"][value="${preferenciaActual}"]`);
    if (botonPreferido) {
        botonPreferido.checked = true;
    }
});
</script>


<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Servicios Afectados</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableServicios" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Id del Servicio</th>
                <th>Nombre del Servicio</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            {{#each miembro.serviciosQueAfectan}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{#if editarMiembro}}
        <!-- Formulario para seleccionar y agregar un servicio -->
        <form id="formAgregarServicio" action="/perfil/{{profileId}}/addService" method="POST">
            <div class="form-group mt-4">
                <select class="form-control" id="servicioDropdown" name="servicioId" onchange="checkServicioSeleccionado()">
                    <option value="">Seleccione un Servicio</option>
                    {{#each listaServicios}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>

            <button type="submit" id="agregarServicioBtn" class="btn btn-primary" disabled>Agregar Servicio</button>
        </form>
        {{/if}}
    </div>
</div>
</div>

<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Lugares de Interés</h6>
</div>
<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableLugaresInteres" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Localidad</th>
            </tr>
            </thead>
            <tbody>
            {{#each miembro.lugaresDeInteres}}
            <tr>
                <td>{{this.provincia.nombre}}</td>
                <td>{{this.municipio.nombre}}</td>
                <td>{{this.localidad.nombre}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{#if editarMiembro}}
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Comunidades Participantes</h6>
</div>
    <div class="card-body">

        <form id="formDireccion" action="/perfil/{{profileId}}/addLugarInteres" method="POST">
            {{{crearDireccion}}}
            <button type="submit" id="botonSubmit" class="btn btn-primary" disabled>Crear Dirección</button>

        </form>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Configuración de Notificación de Incidentes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableHorarios" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Horario</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {{#each configuracionNotificacionDeIncidentes.horarioPreferencia}}
                <tr>
                    <td class="horario-en-minutos">{{this}}</td> <!-- Agregar una clase para identificar los campos de horario -->
                    <td>
                        <!-- Botón para borrar un horario -->
                        <form action="/perfil/{{profileId}}/borrarHorario" method="POST">
                            <input type="hidden" name="horario" value="{{this}}">
                            <button type="submit" class="btn btn-danger">Borrar</button>
                        </form>
                    </td>
                </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
        <!-- Campo para agregar un nuevo horario -->
        <form action="/perfil/{{profileId}}/agregarHorario" method="POST">
            <div class="input-group mb-3">
                <input type="time" class="form-control" name="nuevaHora">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/if}}


<div class="card-body tabla">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTableComunidades" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Nombre de la Comunidad</th>
                <th>Descripción</th>
            </tr>
            </thead>
            <tbody>
            {{#each miembro.comunidades}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
            </tr>

            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

<script>
    function checkServicioSeleccionado() {
        var servicioSeleccionado = document.getElementById("servicioDropdown").value;
        var botonAgregar = document.getElementById("agregarServicioBtn");

        botonAgregar.disabled = !servicioSeleccionado;
    }
    function formatoHora(minutos) {
        const horas = Math.floor(minutos / 60);
        const minutosRestantes = minutos % 60;
        return `${horas.toString().padStart(2, '0')}:${minutosRestantes.toString().padStart(2, '0')}`;
    }

    document.addEventListener('DOMContentLoaded', () => {
        const elementosHorario = document.querySelectorAll('.horario-en-minutos');
        elementosHorario.forEach(elemento => {
            const minutos = parseFloat(elemento.textContent);
            elemento.textContent = formatoHora(minutos);
        });
    });
</script>
{{/partial}}
{{> base }}