{{#partial "contenido" }}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Rankings</h1>
                    <p class="mb-4">Visualizacion de Rankings de incidentes</p>
                                   
                    <!-- Rankings -->
                                   <div class="row ml-1">

                                    <div class="col-xl-4 col-md-4 mb-4">
                                        <a href="/ranking/1" class="linkRanking">
                                        <div class="card  shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text font-weight-bold text-primary text-uppercase mb-2">
                                                            Mayor promedio de tiempo de cierre de incidentes </div>
                                                    </div>
                                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td></td>
                                                                <th>Nombre</th>
                                                                <th>Criterio</th>
                    
                                                            </tr>
                                                        </thead>
                                                            {{#each rankingPromedioTiempo}}
                                                                <tr>
                                                                    <td>{{this.id}} / {{this.leaderboard.id}}</td>
                                                                    <td>{{this.entidad.id}} {{this.entidad.nombre}}</td>
                                                                    <td>{{this.value}}</td>
                                                                </tr>
                                                            {{/each}}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       </a> 
                                    </div>


                                    <div class="col-xl-4 col-md-4 mb-4">
                                        <a href="ranking.html" class="linkRanking">
                                        <div class="card  shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text font-weight-bold text-primary text-uppercase mb-2">
                                                            Entidades con mayor cantidad de incidentes reportados en la semana.</div>
                                                    </div>
                                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td></td>
                                                                <th>Nombre</th>
                                                                <th>Criterio</th>
                    
                                                            </tr>
                                                        </thead>
                                                        {{#each rankingMayorIncidentesReportados}}
                                                        <tr>
                                                            <td>{{this.id}} / {{this.leaderboard.id}}</td>
                                                            <td>{{this.entidad.id}} {{this.entidad.nombre}}</td>
                                                            <td>{{this.value}}</td>
                                                        </tr>
                                                        {{/each}}


                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       </a> 
                                    </div>
                         

                                    <div class="col-xl-4 col-md-4 mb-4">
                                        <a href="ranking.html" class="linkRanking">
                                        <div class="card  shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text font-weight-bold text-primary text-uppercase mb-2">
                                                            Mayor grado de impacto de las problemáticas</div>
                                                    </div>
                                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <td></td>
                                                                <th>Nombre</th>
                                                                <th>Criterio</th>
                    
                                                            </tr>
                                                        </thead>
                                                        {{#each rankingMayorImpacto}}
                                                        <tr>
                                                            <td>{{this.id}} / {{this.leaderboard.id}}</td>
                                                            <td>{{this.entidad.id}} {{this.entidad.nombre}}</td>
                                                            <td>{{this.value}}</td>
                                                        </tr>
                                                        {{/each}}
                    

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                       </a> 
                                    </div>

            
                                <!-- Rankings -->

                </div>

{{/partial}}
{{> base }}